<div class="block">
  <form class="form-inline search-form js-search-form" data-id="5">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="Enter pokemon name"
      />
    </div>
    <button type="submit" class="btn btn-primary">Get Info</button>
  </form>

  <div class="pokemon js-pokemon-cart">
    <h1>Bulbasaur</h1>
    <p>Number: 0001</p>
    <p>Type: Grass, Poison</p>
    <p>Height: 0.7 m</p>
    <p>Weight: 6.9 kg</p>
    <p>Abilities: Overgrow</p>
    <p>Weaknesses: Fire, Psychic, Flying, Ice</p>
    <img
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
      alt="Bulbasaur"
    />
    <a class="more-info" href="/ru/pokedex/bulbasaur">More Info</a>
  </div>
</div>
