.pokemon {
  background-color: #fff;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pokemon h1 {
  font-size: 24px;
  color: #333;
}

.pokemon p {
  font-size: 16px;
  color: #666;
}

.pokemon img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.more-info {
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.more-info:hover {
  background-color: #1e87d3;
}
