body{
    width: 94vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y:auto;
    padding: 20px;
    margin: 0;
}


img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 20px;
}

table, th, td {
    border: 1px solid;
}

.active{
    border:5px solid tomato;
}

.image-list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}